body {
    font-family: 'Urbanist', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 5px;
    width: 60vw;
    background-color: lightgray;
    text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    border-radius: 5px;
}

.renderResult {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80vw;
    }
}